.header {
    display: flex;
    justify-content: center;
}

.headerContainer {
    height: var(--header-height);
    width: 100%;
    padding: 1vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    font-weight: 600;
    font-size: .9rem;
}

@media (min-width: 640px) {
    .headerContainer {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .headerContainer {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .headerContainer {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .headerContainer {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .headerContainer {
        max-width: 1536px;
    }
}


/*h1 {*/
/*    font-size: 1.2rem;*/
/*}*/

.headerLogoContainer {
    height: 100%;
    width: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    flex-grow: 1;
    flex-basis: 0;
}

.headerLogoImage {
    height: 100%;
    width: auto;
    padding: .5vh;
}

.headerLogoTitle {
    margin-left: 1vh;
}

.headerNavigationContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    flex-grow: .6;
    flex-basis: 0;
}

.headerAccountContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;

    flex-grow: 1;
    flex-basis: 0;
}
